<%= render_form do %>
  <%= render_name_input %>

  <%= render_slug_input %>

  <div class="columns">
    <div class="column">
      <%=
        render_form_field(
          'cycle[season_index]',
          error_key:     'cycle[season]',
          include_blank: true,
          items:         ::Cycle::Seasons.map do |key, value|
            {
              label: key.to_s.titleize,
              value: value,
            }
          end,
          label:         'Season',
          type:          :select
        )
      %>
    </div>

    <div class="column">
      <%= render_form_field('cycle[year]') %>
    </div>
  </div>

  <%= render_form_actions %>
<% end %>
